<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoThumbnailCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoThumbnailCreator.Properties.Settings>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FFMPEG64Bit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputFolderIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilenamePattern" serializeAs="String">
                <value>[FILENAME]_thumb</value>
            </setting>
            <setting name="OutputWhenExists" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepLastModDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepCreationDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyEXIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMsgOnSuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AddJoinVideoRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="AddJoinVideoFolderRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="RenamePattern" serializeAs="String">
                <value>[FILENAME]_thumb</value>
            </setting>
            <setting name="DefaultImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTimePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultImageFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTimePositiionMsecs" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="DefaultThumbnailImageFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplyToAllVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReverseTimePosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageFromDurationPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DurationPercentageText" serializeAs="String">
                <value>10%</value>
            </setting>
            <setting name="DurationPercentage" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RecentOutputFolders" serializeAs="String">
                <value />
            </setting>
            <setting name="ExploreOutputFolderWhenDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckWeek" serializeAs="String">
                <value>True</value>
            </setting>
        </VideoThumbnailCreator.Properties.Settings>
    </userSettings>
</configuration>